@charset "UTF-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.wrapper {
  background: #0d0d0d;
  width: 1080px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
}
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #343333; /* Dark background color */
  color: #ffffff; /* Text color */
  line-height: 1.6;
  padding: 20px;
}
h1, h2, h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}
a {
  color: #0078d4; /* Link color */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
/* Style the navigation bar */
.sitenav {
  text-align: center;
}
.logo {
  text-align: left;
  width: 70px;
}
.pagenav {
  background-color: #1f1f1f; /* Darker background color */
  text-align: center;
  padding: 10px 0;
}
nav a {
  color: #ffffff; /* Navigation link color */
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 15px;
}
.pagenav a:hover {
  background-color: #333; /* Hover background color */
}
/* Style the main content */
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.return a {
  padding: 20px; 
  color: #0078d4; /* Link color for "Back to top" = Link color */
}
.return a:hover {
  text-decoration: underline;
}
/* Style the gallery */
.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: start;
  justify-content: space-between;
}
.gallery figure {
  text-align: center;
}
.contact figure {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.rutgers-trash figure {
  float: left;
  width: 200px;
  margin-right: 20px;
}
.rutgers-trash figcaption{
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}
.local-trash figure {
  float: right;
  width: 200px;
  margin-left: 20px;
}
.local-trash figcaption{
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}
.gallery img {
  width: 220px;
}
.gallery figcaption {
  margin-top: 10px;
  text-align: center;
}
.gallery img:hover {
  transform: scale(1.05);
}
/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
}
th, td {
  border: 1px solid #333;
  text-align: left;
  padding: 8px;
}
td.icon{
  text-align: center
}
tbody > tr:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background on hover */
}
/* Style the fun facts lists */
.lists {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.list-container {
  flex: 0 0 calc(50% - 10px);
}
.list-container h3 {
  text-align: center;
}
.list-container ol {
  list-style: none;
  padding-left: 0;
}
.list-container ol li {
  margin-bottom: 5px;
}
/* Style buttons */
.button-wrapper {
  text-align: center;
  margin-top: 20px;
}
.link-button {
  margin: 10px 5px;
  padding: 16px 20px;
  background-color: #0078d4; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.link-button:hover {
  background-color: #005a9e; /* Button background color on hover */
}